textarea {
  resize:none;
}

#wrapper {
  padding: 20px;
}

.chunk {
  padding: 10px 5px;
  margin: 1px;
}

#basic-info {
  background-color: Chartreuse;
}

#aspects {
  background-color: Gainsboro;
}

#skills {
  background-color: Pink;
}

#powers {
  background-color: Bisque;
}

#stress {
  background-color: Sienna;
}

#consequences {
  background-color: LightPink;
}

.form-control {
  width: 75%;
}

.skill {
  font-size: 2em;
  display: block;
}

.skill > span:first-child{
  color: Red;
}

.skill-value {
  color: darkblue;
}